@import './style.scss';


//Encabezado de empresa
.empresa-fondo {
    color: var(--bs-info);
    background-color: var(--bs-dark);
    padding-left: 20%;
    padding-top: 0.5%;   
    padding-bottom: 0.5%;  
    width: 100%;  
    max-width: 100vw; 
    margin: 0 auto;
  }
//Titulo EMPRESA
.titulo-empresa {
  padding-left: 30px; 
  margin: 0; 
  text-align: left; 
  color: var(--bs-info); 
}

//Botones/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//Fondo de los botones 
.botones-fondo {
  display: flex;
  flex-wrap: wrap;
  width: 100vw; 
  background-color: rgba(250, 204, 20, 0.8); 
  padding: 10px 0; 
  justify-content: center; 
  margin-left: calc(-50vw + 50%); 
  margin-right: calc(-50vw + 50%); 
}
//Container para los botones
.container-info {
  display: flex;
  justify-content: center;
  margin-bottom: 0px; 
}
//Personalizacion de los botones
.botones-fondo .container-info .informacion-button {
  background-color: transparent;
  color: #000000;
  border: 3px solid #000000;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease; 
  padding: 10px 0px; 
  border-radius: 5px;
  width: 300px; 
  margin: 10px; 


  &:hover {
    background-color: var(--bs-secondary); 
    color: #ffffff;
    border-color: #ffffff;
  }

  &:active {
    background-color: var(--bs-secondary); 
    color: #ffffff; 
    border-color: #ffffff;
  }
}

//Informacion/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.informacion-modulo {
  padding: 20px;

  .H2-Titulo-Informacion {
    font-weight: bold; 
    color: #bd970093; 
    margin-bottom: 20px;
    padding: 10px;  
  }

  .P-Parrafo-Informacion {
    margin-bottom: 20px;
    text-align: justify;    
  }

  .Img-Informacion {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
    
    &:hover {
      transform: scale(1.05); 
    }
  }

  .HR-Informacion {
    border-top: 4px solid #666666;  
    margin: 40px 0;   
  }

  .Informacion-row {
    display: flex;
    align-items: center;
  }
}

//Preguntas Frecuentes////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.container-preguntas {
  margin-top: 40px; 
  margin-bottom: 40px; 
}

.accordion-item-PreguntasFrecuentes {
  margin-bottom: 20px; 
}

.accordion-button:not(.collapsed) {
  background-color: var(--bs-primary); 
  color: #fff; 
  box-shadow: none; 
}

.accordion-button:hover {
  background-color: (var(--bs-primary)); 
  color: #fff; 
}

.accordion-button:focus,
.accordion-button:active {
  background-color: var(--bs-primary); 
  box-shadow: none; 
  outline: none; 
}


//Contacto////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//Mapa
.iframe-mapa {
  border: 3px solid #eab307;  
  border-radius: 10px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; 
}


// Asegúrate de usar clases más específicas para que Reactstrap no las sobrescriba
.contacto-modulo .button-formulario {
  background-color: transparent; // Mantén el fondo transparente
  color:var(--bs-primary); // Color del texto negro
  border: 3px solid var(--bs-primary); // Borde negro
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  padding: 10px 0px;
  border-radius: 5px;
  width: 300px;
  margin: 10px;

  &:hover {
    background-color: var(--bs-secondary); // Fondo en hover
    color: #ffffff;
    border-color: var(--bs-primary);
  }

  &:active {
    background-color: var(--bs-secondary); // Fondo en active
    color: #ffffff;
    border-color: var(--bs-primary);
  }
}


// Representantes Comerciales
.servicios-modulo {
  margin-bottom: 20px;

  .nav-tabs {
    border-bottom: 2px solid #eab307;
  }

  .nav-item {
    margin-right: 10px;
  }

  .nav-link {
    color: #000 !important; 
    font-weight: bold;
    background-color: transparent !important; 
    border: 2px solid #eab307 !important;
    border-radius: 0;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: darken(#eab307, 10%); 
      color: #fff;
    }

    &.active {
      background-color: #eab307 !important; 
      color: #fff !important;
      border: 1px solid #eab307 !important;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.25rem rgba(234, 179, 7, 0.5); 
    }
  }

  .tab-content {
    border: 1px solid #eab307;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .Nombres-Representantes-Comerciales {
    color: #eab307;
  }
}

// Ajustes para pantallas móviles
@media (max-width: 768px) {
  .contacto-modulo {
    padding: 10px;
  }

  .button-formulario {
    width: 100%;
    margin-top: 10px;
  }

  .section-row-contacto {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .iframe-mapa {
    width: 100%;
    margin-top: 20px;
  }

  // Ajustar título y servicio
  .section-title,
  .servicios-modulo {
    text-align: left;
    padding: 10px;
  }

  .nav-link {
    padding: 5px 10px;
    font-size: 14px;
  }

  .tab-content {
    padding: 10px;
  }
}
