$theme-colors: (
  "primary": #eab307,
  "secondary": #fbbf23,
  "success": #facc1493,
  "info": #fffdf7,
  "warning": #3e2a00,
  "danger": #7f7f7f,
  "light": #595959,
  "dark": #262626
);

@import 'bootstrap/scss/bootstrap';


footer.footer {
  background-color: #2b2b2b;
  color: #fff;
  padding: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Cambiado para separar las secciones */
  align-items: flex-start; /* Alineado al inicio vertical */
  flex-wrap: wrap;
  text-align: left;
}

.footer-section {
  margin: 10px;
}

.h4-footer {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--bs-primary);
}

.hr-footer {
  border: 1px solid #fff;
  width: 100%;
}

.no-background {
  background-color: transparent !important;
  color: white !important;
  border: none !important;
  padding: 5px 0 !important;
}

footer.footer .list-group-item {
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
}

.footer-section.mapa iframe {
  width: 100%;
  height: 300px;
}


.footer-firma {
  text-align: left;
  margin-top: 100px; 
  font-size: 0.9rem;
  color: var(--bs-secondary) ;
  font-weight: bold;
}

// Ajustes específicos para pantallas móviles
@media (max-width: 768px) {
  .footer-container {
    justify-content: center; 
  }

  .footer-firma {
    margin-top: 10px; 
    text-align: center; 
  }

  .footer-section {
    margin-top: 20px; 
    text-align: center; 
  }
}
