@import './style.scss';

.titulo-empresa{
    color: var(--bs-info);
    background-color: var(--bs-dark);
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.container-info{
    color: var(--bs-dark);
    background-color: var(--bs-success);
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

.informacion-button{
    width: 90%;
}