@import './style.scss';
$theme-colors: (
  "FONDO": #fbbe23a1 
);
@import 'bootstrap/scss/bootstrap';




.login-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;       
  height: 100vh;             
  background-image: url('../img/imgInicioSecion.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat; 

  .login-box {
    width: 45%;               
    height: 100%;              
    padding: 2rem;          
    box-shadow: none; 
    align-items: center;        
    background-color: var(--bs-FONDO) ; 
    display: flex;  
    flex-direction: column; 
    
  }
}

.input-group-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;       
    justify-content: flex-start;   
    text-align: left;             
    width: 35rem;
}
.forgot-password {
    text-align: left;      
    width: 100%;          
    margin-top: 1rem;    
  }

.titulo {
    text-align: center;
}

.boton-inicio{
    border-radius: 100px; 
    width: 15rem;                 
    font-size: 1rem;             
    color: white;
    transition: background-color 0.3s ease; 
}





@media (max-width: 1224px) {
    .login-box {
      width: 90%;                   // Aumentar el ancho en pantallas medianas
    }
  
    .input-group-container {
      max-width: 340px;             // Ajustar el ancho máximo de los inputs en pantallas medianas
    }
  }
  
@media (max-width: 768px) {
    .login-container {
      justify-content: center;      // Centrar el formulario en pantallas pequeñas (tablets y móviles)
    }
    .login-box {
        width: 100%;                   // El formulario ocupa el 80% de la pantalla en pantallas más pequeñas
        padding: 1.5rem;
    }
    .input-group-container {
        max-width: 280px;             // Ajustar el ancho máximo de los inputs en pantallas pequeñas
    }
    .boton-inicio {
        width: 100%;                  // El botón ocupa todo el ancho del formulario
    }
}

@media (max-width: 480px) {
    .login-container {
        justify-content: center;      // Mantener centrado el formulario en móviles pequeños
    }
  
    .login-box {
        width: 100%;                   // En móviles, el formulario ocupa el 90% del ancho de la pantalla
        padding: 1rem;
    }
  
    .input-group-container {
        width: 100%;                  // Inputs ocupan todo el ancho del formulario
        max-width: 280px;
    }
  
    .boton-inicio {
        width: 100%;                  // Botón ocupa todo el ancho en móviles
    }
}








