@import './style.scss'; 
$theme-colors: (
  "primary": #eab307
);
@import 'bootstrap/scss/bootstrap';

// Contenedor de fondo general
.background-container {
  height: 90vh;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  background-image: url('../img/imgInicioSecion.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative; 
}

// Cuadro amarillo que ocupa toda la altura y el 40% del ancho de la pantalla
.overlay {
  width: 40vw; 
  height: 100vh; 
  background-color: rgba(234, 179, 7, 0.5);
  backdrop-filter: blur(5px); 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; 
  position: absolute; 
  left: 0; 

  // Estilo para dispositivos móviles
  @media (max-width: 768px) {
    width: 100vw; 
    height: 100vh; 
  }
}

// Estilo del cuadro de inicio de sesión
.login-box {
  width: 80%; 
  padding: 2rem;
  text-align: left; 

  h2 {
    color: #000; 
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .mb-3 {
    width: 100%; 
  }

  .forgot-password-link {
    color: #000;
    text-decoration: none;
    margin-top: 0.5rem;
    display: block;

    &:hover {
      color: lighten(#ffffff, 10%);
      text-decoration: underline;
    }
  }

  .button-formulario {
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    border: 3px solid #000000;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }

  .button-formulario:hover {
    background-color: #eab307; // Cambia el color de fondo en hover
    color: white; // Cambia el color del texto en hover
    border-color: #eab307; 
    font-weight: bold;
  }
}
