@import './style.scss';




  .titulo-catalogo{
    font-size: xx-large;
    border-bottom: 0.2rem solid;
    border-top: 0.2rem solid;
    border-color: var(--bs-danger);
    display: flex;

  }

  .sidebar{
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 200%;
    padding-bottom: 1px;

  }


  .productos-title{
    font-size: xx-large;
  }
  
  .productos-catalogo{
    padding-top: 5rem;
  }