$theme-colors: (
  "primary": #eab307 ,
  "secondary": #fbbf23,
  "success": #facc1493,
  "info": #fffdf7,
  "warning": #3e2a00,
  "danger": #7f7f7f,
  "light": #595959,
  "dark": #262626
);

@import 'bootstrap/scss/bootstrap';

body {
  background-color: var(--bs-info); // Cambia el fondo a amarillo para ver si el archivo se está aplicando
}

//CSS del Landing page, pantallas iniciales
.landing-container {
  height: 90vh; /* Contenedor que ocupa toda la altura de la pantalla */
  padding: 0; /* Eliminar cualquier relleno adicional */
}

.col-landing {
  display: flex;
  height: 100vh; /* Altura completa de la pantalla */
  padding: 0;
}

.carousel-container {
  width: 100vw; /* Ocupar todo el ancho de la ventana */
  height: 80vh; /* Ajustar la altura del carrusel */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Las imágenes cubrirán todo el espacio del carrusel sin perder proporciones */
}



.color-block-secondary {
  background-color: var(--bs-secondary);
}

.color-block-success {
  background-color: var(--bs-success);
}