$theme-colors: (
  "primary": #eab307 ,
  "secondary": #fbbf23,
  "success": #facc1493,
  "info": #fffdf7,
  "warning": #3e2a00,
  "danger": #7f7f7f,
  "light": #595959,
  "dark": #262626
);

@import 'bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; // Evita scroll horizontal
  
}


// Asegurar que los bloques ocupen toda la pantalla
.full-screen-block {
  height: 100vh; // Cada bloque ocupa el 100% de la altura de la pantalla
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}


.container-fluid {
  margin-top: 0; // Asegura que el contenedor no tenga margen superior
}


// Estilos del navbar
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between; // Distribuir el contenido entre el logo y el resto
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Añade una sombra leve

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-nav {
    flex-grow: 1; // Ocupa el espacio entre el logo y el ícono
    display: flex;
    justify-content: center; // Centra los textos
    align-items: center;
  }

  .nav-link {
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;

    &:hover {
      color: #f1c40f;
    }
  }

  // Ajuste del botón cuando el menú está desplegado
  .person-icon {
    background-color: transparent;
    color: #eab307;
    border-radius: 50%;
    border: 2px solid #eab307;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    // Ajuste cuando el menú está abierto (en móviles)
    &.menu-open {
      background-color: transparent;
      border: none;
      font-size: 16px; // Tamaño más pequeño para texto
      width: auto;
      height: auto;
      color: #000; // Cambia el color del texto

      &:hover {
        background-color: transparent; // Sin fondo en hover
        color: #eab307; // Cambia el color del texto en hover
      }
    }
  }

  // Cambios de estilo en pantallas móviles
  @media (max-width: 768px) {
    .navbar-collapse {
      justify-content: flex-start; // Alinea los elementos a la izquierda en móviles
    }
  }
}

//Carusel
.full-screen-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh; // Ocupa el 85% de la altura de la pantalla
  padding: 0;
  margin: 0;
  overflow: hidden; // Evita el desbordamiento del contenido
  position: relative; // Necesario para el overlay
}

.carousel-centered {
  width: 100vw; // Ocupa el 100% del ancho de la ventana
  margin: 0 auto;
  padding: 0;
}

.carousel-item {
  position: relative; // Necesario para que el overlay se posicione correctamente solo sobre la imagen
}

.carousel-item img {
  width: 100vw; // Asegura que ocupe todo el ancho de la ventana
  height: 85vh; // Ajusta la imagen para ocupar toda la altura del bloque
  object-fit: cover; // Asegura que la imagen se ajuste sin distorsionarse
  z-index: 1; // Imagen debajo del overlay
}

// Añadir un overlay semitransparente sobre las imágenes
.carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // Fondo negro semitransparente
  z-index: 2; // Overlay encima de la imagen pero debajo del texto
}

.custom-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); // Añade sombra al texto para mayor visibilidad
  max-width: 80%;  // Limita el ancho máximo de la descripción para que no ocupe toda la pantalla
  line-height: 1.5;
  padding: 20px;
  z-index: 3; // Texto encima del overlay

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: justify; // Justifica el texto para alinearlo de forma elegante
  }
}

// Cambios para pantallas móviles
@media (max-width: 768px) {
  .custom-caption h1 {
    font-size: 2rem; // Cambia el tamaño de la fuente del título para pantallas más pequeñas
    max-width: 90%;  // Limita el ancho máximo de la descripción para que no ocupe toda la pantalla
  }

  .custom-caption p {
    font-size: 0.9rem; // Reduce el tamaño de la descripción para pantallas más pequeñas
  }
}

.footerlandingpage{
  justify-content: end; 
}


// Ajustar los bloques
.color-block-primary {
  background-color: var(--bs-primary);
  color: white;
}

.color-block-secondary {
  background-color: var(--bs-secondary);
  color: white;
}

.color-block-success {
  background-color: var(--bs-success);
  color: black;
}