.estadistica-container {
  display: flex; 
  padding: 1rem; 
  align-items: flex-start; 
}

.grafico-container {
  width: 50%; 
  max-width: 800px; 
  margin-right: 1rem; 
}

.tablas-container {
  width: 50%; 

  flex-direction: column; 
}


.periodo-selector {
  display: flex;
  align-items: center; 
  margin-bottom: 20px; 

  h4 {
    margin-right: 10px; 
  }

  select {
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
  }
}








@media (max-width: 1000px) {
  .estadistica-container {
    flex-direction: column;
    align-items: center;
  }

  .grafico-container {
    width: 100%; 
    margin-right: 0; 
    margin-bottom: 1rem; 
  }

  .tablas-container {
    width: 100%;
  }
}

.periodo-selector {
  display: flex;
  align-items: center; 
  margin-bottom: 20px; 

  h4 {
    margin-right: 10px; 
  }

  select {
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
  }
}


